'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'expose'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'expose:toggle'
        }
      ]
    ]
  }
]
