'.platform-darwin atom-workspace atom-text-editor:not([mini]), .platform-darwin atom-workspace':
  'cmd-shift-e': 'expose:toggle'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'alt-shift-e': 'expose:toggle'

'.expose-view':
  '1': 'expose:activate-1'
  '2': 'expose:activate-2'
  '3': 'expose:activate-3'
  '4': 'expose:activate-4'
  '5': 'expose:activate-5'
  '6': 'expose:activate-6'
  '7': 'expose:activate-7'
  '8': 'expose:activate-8'
  '9': 'expose:activate-9'
  'tab': 'core:move-right'
  'shift-tab': 'core:move-left'
