@import "ui-variables";

atom-panel.modal.expose-panel {
  background-color: rgba(0, 0, 0, 0.8);

  &::before {
    background-color: transparent;
  }
}

.expose-view {
  @shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

  .expose-top {
    text-align: right;

    a::before {
      .icon-resize(32px);
    }
  }

  // Tab bar overrides
  .tab-bar {
    justify-content: space-around;
    flex-flow: row wrap;

    height: inherit;
    background: inherit;
    box-shadow: inherit;
    padding: 0;

    .tab-container {
      width: 210px;
      margin: 10px 5px;

      .close-icon {
        display: none;
      }

      &:hover {
        .tab-body {
          box-shadow: @shadow;
        }

        .close-icon {
          display: block;
        }
      }

      .tab {
        margin: 0 auto;

        .title::before {
          margin-right: 5px;
        }
      }

      .tab-body {
        background: @base-background-color;
        border-top: solid 1px @text-color-info;
        transition: box-shadow 0.5s ease;
        height: 140px;
        margin: 5px 4px;
        padding: 5px;
        text-align: center;
        cursor: pointer;

        &>* {
          width: 190px;
          height: 130px;
        }

        a::before {
          position: relative;
          top: 25%;
          .icon-resize(64px);
        }

        a.animate::before {
          -webkit-animation: spin 1s infinite linear;
        }
      }
    }
  }
}

.icon-resize(@size) {
  font-size: @size;
  height: @size;
  width: @size;
}

@-webkit-keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
